# build directory
build

# eclipse files
.project
.cproject
.settings

# other files
server2.xml
src/main/tinyxml2
build.sh
ca-key.pem
server.key
server.pem
cp_libs.sh
my.db
src/main/rapidjson

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
