<jerry>
	<library file="libmhd4esl.so"/>
	<library file="liblogbook4esl.so"/>
	<library file="libzsystem4esl.so"/>
	<library file="libunixODBC4esl.so"/>
	<!--library file="librdkafka4esl.so"/-->
	
	<certificate domain="localhost" key="server.key" cert="server.pem"/>
	<certificate domain="*" key="server.key" cert="server.pem"/>
	
	<!-- include file="../secret/server-secret.xml"/ -->
	
	<logger layout="esl/logging/builtin">
		<layout key="showTimestamp" value="true"/>
		<layout key="showLevel" value="true"/>
		<layout key="showTypeName" value="false"/>
		<layout key="showAddress" value="false"/>
		<layout key="showFile" value="false"/>
		<layout key="showFunction" value="false"/>
		<layout key="showLineNo" value="false"/>
		<layout key="showThreadNo" value="false"/>
		
		<setting class="*" level="TRACE"/>
		<setting class="jerry::*" level="DEBUG"/>
	</logger>
	
	
	<!--basic-broker id="broker-1" implementation="rdkafka4esl" brokers="localhost:9092">
		<parameter key="kafka.group-id" value="mds"/>
		<parameter key="threads" value="4"/>
	</basic-broker-->
	
	<http-server id="http-1" implementation="mhd4esl">
		<parameter key="threads" value="4"/>
		<parameter key="port" value="8080"/>
		<!-- certificate key="server.key" cert="server.pem"/> -->
	</http-server>
	
	
	<object id="db" implementation="unixODBC4esl">
		<parameter key="connectionString" value="DRIVER=/opt/ibm/db2/V11.1/lib64/libdb2.so;Database=<dbname>;Protocol=tcpip;Hostname=<uri>;Servicename=<port>;UID=<user>;PWD=<pwd>;"/>
	</object>
	
	<object id="fb-setting1" implementation="jerry/builtin/http/filebrowser">
		<parameter key="path" value="/var/"/>
		<parameter key="browsable" value="true"/>
		<!--parameter key="showException" value="false"/>
		<parameter key="showStacktrace" value="false"/ -->
	</object>
	
	<object id="fb-setting2" implementation="jerry/builtin/http/filebrowser">
		<parameter key="path" value="/tmp/"/>
		<parameter key="browsable" value="true"/>
		<!--parameter key="showException" value="false"/>
		<parameter key="showStacktrace" value="false"/ -->
	</object>
	
	<!--object id="cd-setting1" implementation="jerry/builtin/messaging/dump">
		<parameter key="show-context" value="true"/>
		<parameter key="show-content" value="true"/>
	</object-->
	
	<!--
		defaults:
		- hostname="*"
		- ref-id=""
	-->
	<http-listener hostname="localhost" ref-id="http-1">
	
		<reference id="" ref-id="fb-setting2"/>
		
		<!--
		General Kubernetes stuff:
			Is running: "health/jerry"
			Is working: "health/database"
		-->
		<endpoint path="health/jerry">
			<requesthandler implementation="jerry/builtin/http/self"/>
		</endpoint>
		
		<endpoint path="health/database">
			<requesthandler implementation="jerry/builtin/http/database">
				<parameter key="connectionId" value="db"/>
				<parameter key="SQL" value="SELECT 1 FROM RKWWC1.T1150_ZD_MARKT FETCH FIRST 1 ROWS ONLY WITH UR"/>
			</requesthandler>
		</endpoint>
		
		<endpoint path="test1/log">
			<reference id="" ref-id="fb-setting1"/>
			
			<endpoint path="mc-lukas">
				<requesthandler implementation="jerry/builtin/http/filebrowser">
					<parameter key="path" value="/usr/"/>
					<parameter key="browsable" value="true"/>
					<!--parameter key="showException" value="false"/>
					<parameter key="showStacktrace" value="false"/ -->
				</requesthandler>
			</endpoint>
			
			<requesthandler implementation="jerry/builtin/http/filebrowser"/>
		</endpoint>
		
		<endpoint path="test1">
			<requesthandler implementation="jerry/builtin/http/filebrowser"/>
		</endpoint>
	</http-listener>
	
	<http-context id="http-context1">
		<reference id="" ref-id="fb-setting1"/>
		<endpoint path="test1">
			<requesthandler implementation="jerry/builtin/http/filebrowser"/>
		</endpoint>
		
		<endpoint path="test1/log">
			<reference id="" ref-id="fb-setting2"/>
			<requesthandler implementation="jerry/builtin/http/filebrowser"/>
			
			<endpoint path="mc-lukas">
				<!--
					This:
					
						<requesthandler implementation="jerry/builtin/http/filebrowser">
							<parameter key="workspaceDir" value="/usr/"/>
							<parameter key="showException" value="false"/>
							<parameter key="showStacktrace" value="false"/>
						</requesthandler>
					
					is a shortcut for this:
					
						<context inherit="true">
							<object id="" implementation="jerry/builtin/http/filebrowser">
								<parameter key="workspaceDir" value="/usr/"/>
								<parameter key="showException" value="false"/>
								<parameter key="showStacktrace" value="false"/>
							</object>
							<requesthandler implementation="jerry/builtin/http/filebrowser"/>
						</context>
				-->
				<requesthandler implementation="jerry/builtin/http/filebrowser">
					<parameter key="path" value="/usr/"/>
					<!--parameter key="showException" value="false"/>
					<parameter key="showStacktrace" value="false"/ -->
				</requesthandler>
				
				
				<!--
					This:
					
						<requesthandler implementation="http/server/NEW-FILEBROWSER" object-implementation="jerry/builtin/http/filebrowser">
							<parameter key="workspaceDir" value="/usr/"/>
							<parameter key="showException" value="false"/>
							<parameter key="showStacktrace" value="false"/>
						</requesthandler>
					
					is a shortcut for this:
					
						<context inherit="true">
							<object id="" implementation="jerry/builtin/http/filebrowser">
								<parameter key="workspaceDir" value="/usr/"/>
								<parameter key="showException" value="false"/>
								<parameter key="showStacktrace" value="false"/>
							</object>
							<requesthandler implementation="http/server/NEW-FILEBROWSER"/>
						</context>
				-->
				
				<requesthandler implementation="http/server/NEW-FILEBROWSER" object-implementation="jerry/builtin/http/filebrowser">
					<parameter key="path" value="/usr/"/>
					<!--parameter key="showException" value="false"/>
					<parameter key="showStacktrace" value="false"/ -->
				</requesthandler>
			</endpoint>
			
		</endpoint>
	</http-context>
	
	<!--basic-listener ref-id="broker-1">
		<requesthandler implementation="jerry/builtin/basic/dump">
			<parameter key="notifier" value="input-queue"/>
			<parameter key="show-context" value="true"/>
			<parameter key="show-content" value="true"/>
		</requesthandler>
		
		<requesthandler implementation="jerry/builtin/basic/echo">
			<parameter key="notifier" value="output-queue"/>
			<parameter key="delay-ms" value="1000"/>
			<parameter key="output.ref-id" value="broker-1"/>
			<parameter key="output.parameter.topic" value="output-queue"/>
		</requesthandler>
	</basic-listener-->
	
	<http-listener hostname="*" ref-id="http-1">
		<context ref-id="http-context1"/>
	</http-listener>
	
</jerry>
